<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>view.html</title>
<link rel='shortcut icon' href="#">
<script src='./lib/jquery-3.4.1.js'></script>
<script src='./lib/member.js'></script>
</head>
<body>
	<div id='view'>
		<h3>회원 정보 상세조회</h3>
		<form name='frm' id='frm' method='post'>
			<label>아이디</label>
			<input type='text' name='mId' readonly/>
			<br/>
			<label>성명</label>
			<input type='text' name='mName' readonly/>
			<br/>
			<label>등록일</label>
			<input type='date' name='rDate' readonly/>
			<br/>
			<label>학년</label>
			<input type='text' name='grade' readonly/>
			<p/>
			<label></label>
			<input type='button' value='수정' id='btnModify'/>
			<input type='button' value='삭제' id='btnDelete'/>
			<input type='button' value='목록' id='btnList'/>
		</form>	
	</div>
<script>selectOne()</script>
</body>
</html>