@charset "UTF-8";
#main{
	width:1200px;
	background-color:#eee;
	margin:auto;
	
}
#Login{
	text-align: right;
	margin-bottom: 3px;
	background: '#fff';
	font-size: 10px;	
}

#header{
	overflow:visible;
	background-image:url('../images/header_back.png');
	background-repeat:no-repeat;
	background-position:center;
	height:153px;
}
#nav{
	background-color:#8000ff;
	color:#ff0;
	overflow:hidden;
}
#nav ul{
	text-align:right;
	margin:4px;
	padding:0px;
}
#nav li{
	display:inline;	
	list-style:none;
	text-align:center;
}
#nav li a{
	text-decpration:none;
	padding:5px;
	color:#ff0;
}

#nav li:hover{
	background-color:#777;
	height:100px;
	color:#333;	
	
	cursor:pointer;
}

#sub_menu{
	width:200px;
	background-color:#ffaaaa;
}
#center{
	overflow:hidden;
}

#center>div, #aside{
	float:left;
}

#main_content{
	width:800px;
	background-color:#aaffaa;	
}
#aside{
	width:200px;
	background-color:#aaaaff;
}
#footer{
	height:80px;
	background-color:#bbb;
	text-align:center;
	padding-top:20px;
	padding-bottom:20px;
	box-sizing:border-box;
}
#footer font{
	font-weight:bold;	
}