@charset "UTF-8";
#main{
	width:1200px;
	background-color:#eee;
	margin:auto;
	
}
#header{
	overflow:visible;
	background-image:url('../images/header_back.png');
	background-repeat:no-repeat;
	background-position:center;
	height:153px;
}
#nav{
	background-color:#80ffff;
	color:#ff0;
	overflow:hidden;
}
#nav li{    
	float:right;
	list-style:none;
	margin-right:8px;
}
#nav li:hover{
	background-color:#777;
	height:100px;
	color:#333;	
	
	cursor:pointer;
}

#sub_menu{
	width:200px;
	background-color:#ffaaaa;
}
#center{
	overflow:hidden;
}

#center>div, #aside{
	float:left;
}

#main_content{
	width:800px;
	background-color:#aaffaa;	
}
#aside{
	width:200px;
	background-color:#aaaaff;
}
#footer{
	height:80px;
	background-color:#bbb;
}