@charset "UTF-8";
#main{	
	width:550px;
	margin:auto;
}
form{	
	width:100px;
	margin-left:10px;
	line-height:160%;
	margin-bottom:4px;	
	
}
form div{
	width:490px;
	display: inline-block;
	position: relative;
	text-align:right;	
}
#title{
	background-color: #000;
	color:#fff;	
}
#title>span, #result span{
	display : inline-block;
	width:130px;
}
#result div:hover{
	background-color:#ddd;
	cursor: pointer;
}
#result div:nth-child(5n){
	border-bottom : 1px solid #f88;
}
#result div:last-child{
	border-bottom : 2px solid #88f;
}
#frm>label{
	display:inline-block;
	width:70px;
	text-align:right;
	margin-right:4px;
}